$body-bg: #e0e6e7;
$body-bg-dark: #1d1d16;
$theme-colors: (
  "primary": #1b17ec,
  "secondary": #aeb2b6,
  "success": #198754,
  "info": #0ccaf0,
  "warning": #ffc105,
  "danger": #dc3545,
  "dark": #1d1d16,
  "light": #e0e6e7,
  "body-bg": #e0e6e7,
  // Bootstrap extended colors
  "gray": $gray-500,
  "grey": $gray-500,
  "blue": $blue,
  "indigo":$indigo,
  "purple":$purple,
  "pink":$pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green":$green,
  "teal": $teal,
  "cyan":$cyan,
  // Custom colors
  "codeworks": #141d2b,
  "vue": #42b883,
);